
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
   
}


.card-body {
    background-color: #f8f9fa; /* Light grey for contrast */
    
}
.card-header {
    background: linear-gradient(135deg, #ff7f3e 0%, #ffce34 100%);
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
}
.card-primary {
    background: linear-gradient(135deg, #059212 0%, #34ce57 100%);
}
.card-danger {
    background: linear-gradient(135deg, #dc0083 0%, #f77eb9 100%);
}
.card-info {
    background: linear-gradient(135deg, #0802A3 0%, #0802A3 100%);
}
/* .card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */
.card-body i {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
}
.card-body h4 {
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 14px;
    color: #666;
}
.card {
    border-left: 5px solid #FF7F3E;
}
.card-primary {
    border-left: 5px solid #059212;
}
.card-info {
    /* border-left: 5px solid #0079FF; */
    border-left: transparent;
}
.card-danger {
    border-left: 5px solid #DC0083;
}
[data-bs-toggle="tooltip"] {
    transition: all 0.3s ease;
}

[data-bs-toggle="tooltip"]:hover {
    color: #ff7f3e;
    cursor: pointer;
}
