.error {
    border: 2px solid #FF4E88;
}

.error-message {
    color: red;
    font-size: 0.875em; /* Smaller font size for error messages */
    margin-top: 0.25em; /* Space between input and error message */
}

.form-control.error {
    border: 2px solid #FF4E88; /* Highlight the input field with a red border */
}
/* Adjust the height of the table cells */
.table-cell {
    height: 20px; /* Change this value to your desired height */
    vertical-align: middle; /* Align text vertically in the middle */
}

/* Apply styles to buttons to ensure they fit well within the cell */
.btn-primary, .btn-danger {
    padding: 5px 10px; /* Adjust padding as needed */
}
.table_header {

    background-color:#01204E ;
    color:white ;

}
.edit-btn {

    color:#615EFC ;
    font-size: 20px;

}
.delete-btn {

    color:#FF6969 ;
    font-size: 20px;

}
.activate-btn {

    color:#40A578 ;
    font-size: 20px;

}
.deactivate-btn {

    color:#FF6969 ;
    font-size: 20px;

}

.text-danger {
    color: red;
}

.text-warning {
    color: orange; /* Or yellow if preferred */
}

.text-success {
    color: green;
}
.is-invalid {
    border: 2px solid #FF4E88;

}

.table-responsive {
    overflow-x: auto; /* Allows horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.dataTables_wrapper {
    width: 99.9% !important; /* Ensures wrapper takes full width */
}

#items_table {
    width: 99.9% !important; /* Forces table to respect container width */
}
.logo-box .logo-lg {
    height: 65px !important; /* Force the height */
    width: auto; /* Maintain aspect ratio */
    
}
.text-wrap {
    white-space: normal !important;
    word-wrap: break-word;
}

/* Custom button colors */
.btn-excel {
    background-color: #06D001;
    color: white;
}

.btn-print {
    background-color: #FF7777;
    color: white;
}

.btn-copy {
    background-color: #4B70F5;
    color: white;
}

.btn-excel:hover, .btn-print:hover, .btn-copy:hover {
    opacity: 0.8; /* Optional: Add some opacity on hover */
}
